




  <header>
    <nav class="body">
        <div class="body" >
          <mat-card style="width: 90%; margin: auto; padding: 20px; display: flex;">
            <div style="display: flex; justify-content: space-between; align-items: center; justify-content: center;">
              <div style="color: #00b4b4; font-size: 20px; text-align: center; font-weight: bolder;" >
                Testing Facility <br>
                <span style="color: rgb(100, 100, 100);">Based on OCPP 1.6</span>
              </div>
          </div>
        </mat-card>
      </div>

    </nav>
</header>


